* {
    font-family: bahnschrift;
    font-size: 1vw;
}

img {
    width: 100%;
}

.main {
    width: 60%;
    margin: auto;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #131313;
    position: static;
    top: 0.5em;
    margin-left: 0px;
}

.list {
    float: left;
    text-align: center;
    display: inline-block;
    font-size: 1vw;
}

.list,
.link,
    {
    display: block;
    color: white;
    text-align: center;
    padding: 3px 0px;
    text-decoration: none;
    margin-left: 10px;
}

.container {
    padding: 3%;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #570F12;
}

.content {
    width: 90%;
    margin: auto;
}

.date {
    display: block;
    padding: 1% 0;
    text-align: right;
}

.headline {
    background-color: #dedede;
    margin: 0 0 10px 0;
}

.headline h5 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 5px 10px;
    font-style: 1vw;
}

.top-news-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-bottom: 20px;
}

.teaser-group-wrapper {
    flex: 1;
    flex-grow: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.teaser-group-wrapper .headline {
    margin-right: 10px;
    margin-bottom: 0;
}

.teaser-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: -5px;
}

.teaser-container {
    flex: 1;
    position: relative;
    margin: 0 5px;
    overflow: hidden;
}

.teaser-container img {
    height: 100%;
}

.teaser-container .teaser-text a {
    width: 100%;
    font-size: 12px;
    padding: 5px 5px;
    position: absolute;
    bottom: 0;
    background-color: #000;
    color: #fff;
}

.news-banner {
    flex: 1;
    overflow: hidden;
}

.news-banner img {
    height: 100%;
    width: 100%;
}

.row-1 {
    margin-bottom: 15px;
}

.full-size-banner {
    position: relative;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.full-size-banner .text-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}

.navbar2 {

    background-color: #131313;
    top: 0.5em;
    margin-left: 0px;
}

footer {
    background-color: #131313;
}

.footerlogo {
    margin-left: 80%;
    height: 100%;
    width: 20%;
}

.footertext {
    display: flex;
    justify-content: center;
    color: white;
}

.mobile {
    display: none;
}



@media only screen and (max-width: 481px) {
    * {
      font-size:12px;
    }

    .teaser-container .teaser-text a {
      font-size:10px;
    }

    .main {
        width: 100%;
    }

    .bannervanish,
    .full-size-banner {
        display: none;
    }

    .mobile {
        display: inline;
    }

    .headline {
        width: 100%;
    }

    .teaser-group-wrapper {
        width: 100%;
    }

    .date {
        display: none;
    }

    .news-banner {
        display: none;
    }

    .teaser-group {
    display: flex;
    flex-wrap:wrap;
}

  .teaser-container {
    flex:1 0 33%;
    margin-bottom:10px;
    
  }

  .navbar {
    margin-bottom:10px;
    display:flex;
    justify-content:center;
  }

  .footerlogo {
    margin-left: 40%;
    height: 100%;
    width: 20%;

  }

  .teaser-group-wrapper .headline { 
    margin-bottom:10px;
  }
}